body {
  background-color: #E0F1F1;
  margin: 0;
  font-family:
    "Noto Sans JP",
    -apple-system,
    BlinkMacSystemFont,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Yu Gothic",
    "Yu Gothic UI",
    "Meiryo",
    sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  color: #604461;
}