---
import BaseLayout from '../layouts/BaseLayout.astro';
import '../styles/global.css';
---
<BaseLayout title="お問い合わせ - こころ和む心理学">
  <h1>準備中</h1>
</BaseLayout>

<style>
h1 {
  margin:100px 100px 200px;
  font-size: 40px;
}

</style>