<div class="container">
  <h2 class="title">ブログ</h2>
  <div class="blog">
    
  </div>
  <a href="/blog" class="continue"><p>続きを読む</p></a>
</div>

<style>
.container {
  margin: 0 auto 100px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.continue {
  text-align: center;
  text-decoration: none;
}


</style>