---
const currentYear = new Date().getFullYear();
---
<footer>
  <div class="footer-container">
    <a href="/">
      <img src="/images/logo.svg" alt="logo" />
    </a>
    <p>&copy; {currentYear} kazuki</p>
    <a href="/privacy-policy">
      <p>プライバシーポリシー</p>
    </a>
    <a href="/disclaimer">
      <p>免責事項</p>
    </a>
  </div>
</footer>

<style>
.footer-container {
  padding: 0 50px;
  max-width: 1240px;
  margin: 0 auto;
  width: 80%;
}

.footer-container a {
  text-decoration: none;
}

.footer-container p {
  font-size: 14px;
  margin: 5px 0;
}

.footer-container a p {
  font-size: 14px;
  margin: 5px 0;
}


</style>