<footer>
  <div class="footer-container">
    <img src="/images/logo.svg" alt="logo" />
    <p>コピーライト</p>
    <a href="">
      <p>プライバシーポリシー</p>
    </a>
    <a href="">
      <p>免責事項</p>
    </a>
  </div>
</footer>

<style>
.footer-container {
  padding: 0 50px;
  max-width: 1240px;
  margin: 0 auto;
  width: 80%;
}

.footer-container a {
  text-decoration: none;
}

.footer-container p {
  font-size: 14px;
  margin: 5px 0;
}

.footer-container a p {
  font-size: 14px;
  margin: 5px 0;
}


</style>