---

---

<header>
  <div class="header-container">
    <div class="header-left">
      <img src="/images/logo.svg" alt="logo" />
    </div>
    <div class="header-right">
      <ul>
        <li><a href="">カテゴリー</a></li>
        <li><a href="">ブログ</a></li>
        <li><a href="">お問い合わせ</a></li>
      </ul>
    </div>
  </div>
</header>

<style>
header {
  max-width: 1240px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.header-right ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.header-right ul li {
  margin: 0 20px;
}

.header-right ul li a {
  text-decoration: none;
  color: #000;
}

</style>