<header>
  <div class="header-container">
    <div class="header-left">
      <img src="/images/logo.svg" alt="logo" />
    </div>
    <div class="header-right static-nav">
      <ul>
        <li><a href="">カテゴリー</a></li>
        <li><a href="">ブログ</a></li>
        <li><a href="">お問い合わせ</a></li>
      </ul>
    </div>
    <div class="header-right nav">
      <ul>
        <li><a href="">カテゴリー</a></li>
        <li><a href="">ブログ</a></li>
        <li><a href="">お問い合わせ</a></li>
      </ul>
    </div>
    <button class="hamburger" aria-label="メニュー">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</header>

<style>
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  max-width: 1240px;
  margin: 0 auto;
  height: 50px;
  width: 80%;
}

.nav {
  display: none;
  transform: translateX(100%);
}

.header-right ul {
  display: flex;
  list-style: none;
  margin: 0;
}

.header-right ul li {
  margin: 0 15px;
}

.header-right ul li a {
  text-decoration: none;
  color: #604461;
}

.hamburger {
  display: none;
  width: 60px;
  height: 60px;
  position: relative;
  background: #D2E7BF;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.hamburger span {
  position: absolute;
  left: 14px;
  width: 32px;
  height: 2px;
  background: #000;
  transition: 0.3s;
}


.hamburger span:nth-child(1) { top: 18px; }
.hamburger span:nth-child(2) { top: 29px; }
.hamburger span:nth-child(3) { bottom: 19px; }

/* × に変形 */
.hamburger.is-open span:nth-child(1) {
  transform: rotate(45deg);
  top: 29px;
}
.hamburger.is-open span:nth-child(2) {
  opacity: 0;
}
.hamburger.is-open span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 29px;
}


@media screen and (max-width:768px) {
  .hamburger {
    display: block;
  }

  .static-nav {
    display: none;
  }

  .nav {
    position: fixed;
    inset: 0;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
  }

  .is-open {
    transform: translateX(0);
  }

  .nav ul {
    flex-direction: column;
    gap: 32px;
    font-size: 24px;
  }

}

</style>

<script>
  const hamburger = document.querySelector('.hamburger');
  const nav = document.querySelector('.nav');

  if (hamburger && nav) {
    hamburger.addEventListener('click', () => {
      hamburger.classList.toggle('is-open');
      nav.classList.toggle('is-open');
    });
  }
</script>