<div class="container">
  <h2 class="title">サイトの説明</h2>
  <p>
    このサイトは、メンタルを安定させる考え方や、感情とうまく付き合うための方法をまとめた心理系の情報サイトです。<br>
    不安や落ち込み、イライラなど、誰にでも起こる心の揺れに対して、少し距離を置いて向き合えるような知識や視点を整理しています。<br>
    悩みや感情の不安定さが少しでも減り、メンタルを安定させる考え方が特別なものではなく、日常の中で自然に使われる“当たり前の知識”として広がっていくことを目指しています。
  </p>
  <p class="caution">
    ※ここで紹介している内容は、心の持ち方や考え方に関する一般的な情報であり、すべての人に当てはまるものではありません。
  </p>
</div>

<style>
.container {
  width: 60%;
  line-height: 1.8;
  margin: 0 auto 100px;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  font-family:
  "Noto Serif JP",
  "Hiragino Mincho ProN",
  "Yu Mincho",
  "YuMincho",
  "MS PMincho",
  serif;
}

.caution {
  font-size: 12px;
  color: #555;
}

@media screen and (max-width:768px) {
  .container {
    width: 80%;
  }
}


</style>